.container:not(.get_username) .username,.container.get_username .send_message {
  display: none;
}
.container .chat, .container .username, .container .send_message {
  width: 100%;
  display: block;
  clear: both;
  box-sizing: border-box;
}
.container .username, .container .send_message {
  border-top: 1px solid #ccc;
}
.container .username textarea, .container .send_message textarea {
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
  height: 7rem;
  line-height: 1.5;
}
.container .chat {
  height: calc(100vh - 7rem);
  padding: 1rem 1.5rem;
  overflow-y: auto;
}
.container .chat div {
  display: block;
  overflow: auto;
  margin: 0.5rem 0;
  float: left;
  clear: both;
  max-width: 80%;
  text-align: left;
}
.container .chat div p{
  margin-top: 0.25rem;
  font-size: 1.125rem;
  padding: 0.5rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #dedede;
  border-left: none;
  text-align: left;
}
.container .chat div.right {
  float: right;
}
.container .chat div.right {
  text-align: right;
}
.container .chat div.right p {
  padding: 0.5rem;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #2188ff;
  border-right: none;
  background-color: #2188ff;
  color: #fff;
}