* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", -apple-system, "Segoe UI", sans-serif;
  color: #222;
  font-size: 1.125rem;
}
body {
  background-color: #eee;
  text-align: center;
  overflow: hidden;
}
input,textarea {
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
  width: 100%;
}
::selection {
  background-color: #2188ff;
  color: #fff;
}
.container {
  width: 600px;
  display: inline-block;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}
